@media only screen and (max-width: 575px){
    .main{
        text-align:center;
    }
}

body {
    background-color: rgba(100,0,100,1);
    //background-image: url("../images/retrooutrun.jpg");
    
    background-size: cover;
}

.navbar {
    background-color: rgba(255, 0, 0, 0.9);
}

.main {
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 20px;
}

.about {
    margin-top:100px;
    bottom:0;
}

.spel-thumb{
    padding:5px;
    width:205px;
    height:205px;
    border-radius:12px;
}

.spel-thumb-img{
    height:80%;
    width:80%;
    border-radius:12px;
    background-color:gray;
}

.spel-ruta{
    height:100%;
    width:100%;
}

.main-offset-top{
    margin-top:100px;
}

.main-offset-left{
    margin:0 auto;
}

.mainContainerPadding{
    padding:1%;
}

.main-color-info {
    background-color: rgba(255, 0, 0, 0.9);
    color:white;
}

.main-color-context {
    background-color: lightgray;
    background-color: rgba(128, 128, 128, 0.95);
    color: black;
}

.btn {
    background-color: rgba(100,0,100,1);
    border-color: rgba(100,0,100,1);
}

.btn:hover {
    background-color: rgba(100,0,50,1);
    border-color: rgba(100,0,50,1);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: black;
}

h1, h2, h3 {
    margin: 0 0 35px 0;
    //text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.6em;
}

a {
    color: #26a5d3;
}

a:hover, a:focus {
    text-decoration: none;
    color: #26a5d3;
}


form-control {
    height: 100px;
}